@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Poppins:ital,wght@0,300;0,600;0,700;1,200;1,300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* background-color: rgb(44, 42, 42); */
    /* color: white; */
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.5rem;

}

*::selection{
    background: var(--bg-color);
    color: var(--text-color);
}

body{
    
    background: var(--bg-color);
    color: var(--text-color);
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
    margin-bottom: 10px;
   padding: 20px 170px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    color: var(--text-color);
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-color);
 } 
.nav { 
   display: flex;
    
 } 

 .nav li a { 
    
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
    
 } 


.nav li a:hover{
    color:  var(--main-color); 
    transition: .4s;
    
} 


section{
    /* margin-top: 100px; */
    padding: 70px 17%;
    /* min-height: 100vh; */
}


.home{
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img{
 max-width: 100%;
 width: 600px;
 height: auto;
 position: relative;
 top: 30px;
}

.home-text h1{
  color: #ff702a;
  font-size: var(--big-font);
}

.home-text h2{
    color: white;
    font-size: var(--h2-font);
  }


  .btn{
    display: inline-block;
    background-color: #ff702a;
    color: white;
    padding: 10px 20px;
    border-radius: 0.5rem;
    margin-top: 10px;
  }
  

  .btn:hover{
    transform: scaleX(1.2) translateY(10px) }



    .container{
        /* width: 100%; */
        min-height: 80vh;
        margin-top: 30px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,2fr);
        align-items: center;
        gap: 2rem;
    }

    .heading{
        text-align: center;
    }

    .heading span{
        color: var(--main-color);
        font-weight: 600;    }

    .heading h2{
       font-size: var(--h2-font);
    }

    .menu{
        min-height: 90 vh;
    }

    .menu-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(220px,auto));
        gap: 1.5rem;
        align-items: center;
    }
.box{
    position: relative;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 4rem;
    background: #feeee7 ;
    padding: 20px;
    border-radius: 0.5rem;
}

.box-img{
    width: 220px;
    height: 220px;

}

.box-img img{
    width: 100%;
    height:100% ;
}

.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);
}

.box h3{
    font-size: 1rem;
    color: var(--bg-color);
    margin: 4px 0px 10px;
}

.box span{
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 400;
}

.box .bx{
    position: absolute;
    background: var(--main-color);
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}

.-s-box{
    position: relative;
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 4rem;
    /* background: #feeee7 ; */
    padding: 20px;
    border-radius: 0.5rem;
}


.main{
    display: flex;
}

footer{
    padding: 25px;
}
.col{
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    position: relative;
}

.col h4::before{
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: var(--main-color);
    bottom: -5px;
    left: 0;
    margin-bottom: 4px;
}
.col ul li:not(last-child){
    margin-bottom: 15px;
}

.col ul li a{
    color: #9897a9;
    transition: .4s;
    display: block;
    text-transform: capitalize;
    font-size: 1.1rem;
}

.col ul li a:hover{
    color: var(--main-color);
    transform: translateX(-12px);
    
    
}
/* .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
 

/* .cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,au));
    
}

.card{
    background: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.card img{
    width: 60%;
}

.card-text{
    color: black;
} */

/* .bx{
    color: var(--bg-color);
    position: relative;
    left: 0;
    top: 10px;
} */


/* .bx {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 29px;
} */